@{
    ViewData["Title"] = "Feedback Confirmation";
}

<div class="container mt-5">
    <h2>Thank You!</h2>
    <p>Your feedback has been submitted successfully.</p>
    <a asp-controller="Home" asp-action="SubmitFeedback"  class="btn btn-primary">Submit Another Feedback</a>
</div>
