@{
    ViewData["Title"] = "Home";
}


<!--================ Hero banner start =================-->
<section class="hero-banner">
    <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
            <div class="col-5 d-none d-sm-block">
                <div class="hero-banner__img">
                    <img class="img-fluid" src="~/img/home/hero-banner.png" alt="">
                </div>
            </div>
            <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                <div class="hero-banner__content">
                    <h4>Shopping is fun</h4>
                    <h1>Browse Our Premium Product</h1>
                    <p>
                        Us which over of signs divide dominion deep fill bring they're meat beho upon own earth without morning
                        over third. Their male dry. They are great appear whose land fly grass.
                    </p>
                    <a class="button button-hero" href="#">Browse Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Hero banner start =================-->


<div class="jumbotron">
    <h1>Welcome to ABCD Mall!</h1>
    <p>Explore our shops, food courts, movies, and more.</p>
</div>

<!-- ================ trending product section start ================= -->
<section class="section-margin calc-60px">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img"
                             src="https://images.unsplash.com/photo-1709066916750-eb702cd108ae?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img"
                             src="https://images.unsplash.com/photo-1522684462852-01b24e76b77d?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img"
                             src="https://images.unsplash.com/photo-1523180003485-e6e7d62c938b?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img"
                             src="https://images.unsplash.com/photo-1617293765678-bbb9965e87b8?q=80&w=1631&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img"
                             src="https://images.unsplash.com/photo-1511120096-e7744308d1d2?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img"
                             src="https://images.unsplash.com/photo-1720998745949-9ca3b3c9f4f6?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img"
                             src="https://images.unsplash.com/photo-1685472944188-93132c4ef40f?q=80&w=1673&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img"
                             src="https://images.unsplash.com/photo-1707381174542-ad4598aca8f4?q=80&w=1828&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ trending product section end ================= -->


<!-- ================ offer section start ================= -->
<section class="offer" id="parallax-1" data-anchor-target="#parallax-1"
         data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="offer__content text-center">
                    <h3>Up To 50% Off</h3>
                    <h4>Winter Sale</h4>
                    <p>Him she'd let them sixth saw light</p>
                    <a class="button button--active mt-3 mt-xl-4" asp-controller="Home" asp-action="Shops">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ offer section end ================= -->


<!-- ================ Best Selling item  carousel ================= -->
<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Popular Item in the Mall</p>
            <h2>Best <span class="section-intro__style">Sales</span></h2>
        </div>
        <div class="owl-carousel owl-theme" id="bestSellerCarousel">
            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="https://scentsnstories.pk/cdn/shop/files/Saifulmalook.jpg?v=1715755187&width=1800" alt="">
                </div>
            </div>
            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="https://scentsnstories.pk/cdn/shop/files/LADY_EVE_ea351503-3e3f-4ddc-9a7e-5da095ce0700.png?v=1719220195&width=1800" alt="">
                </div>
            </div>
            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="https://wbhemani.com/images/thumbs/0008358_velvet-embrace-perfume-100ml_550.jpeg" alt="">
                </div>
            </div>
            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="https://wbhemani.com/images/thumbs/0008308_attar-emir-15ml_550.jpeg" alt="">
                </div>
            </div>
            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="https://www.junaidjamshed.com/media/catalog/product/3/2/32965-1_1_.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=560&width=436" alt="">
                </div>
            </div>
            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="https://www.alkaramstudio.com/cdn/shop/files/R-SP-429_2_3d4f5211-0f54-48d2-97eb-7bf836f08d05.jpg?v=1718601113&width=800" alt="">
                </div>
            </div>
            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="https://zellbury.com/cdn/shop/files/MSKS220013-BLACK-1.jpg?v=1711535630&width=990" alt="">
                </div>
            </div>
            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="https://www.mariab.pk/cdn/shop/files/GTS-W23-04-Black_540x.jpg?v=1699268322" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ Best Selling item  carousel end ================= -->
